*{
    outline: 4px black solid;
}


.main
{
    background-color: wheat;
    margin: 0px 0px;
    width: auto;
}

.main,
.frst-title,
.scnd-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.frst-title{
    color: rgb(243, 214, 160);
    background-color: rgb(9, 102, 29);
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin: 0px;
}


.big-foto{
    margin: 0px 10px 10px 10px;
}

.scnd-title{
   color: rgb(9, 102, 29);
   background-color: rgb(243, 214, 160);
}

.text-p,
.main-list,
ol
li{
    margin: 25px;
    font-size: 20px;
}

.main-list{
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.main-list div{
    display: inline-block;
    margin: 0px 20px 0px 20px;
    
}

.main-list img{
    display: block;
    
}

.point{
    background-color: rgb(9, 102, 29);
    color: rgb(243, 214, 160);
    text-align: center;
    margin-bottom: 2px;

}